.box-set {
  position: relative;
  height: 400px;
  background: darkgray;
}

.box {
  position: fixed;
  width: 150px;
  height: 150px;
  background: violet;
  border: 2px solid black;
}

.box-1 {
position: fixed;
}

.box-2 {
top: 10%;
right: 10%;
}

.box-3 {
bottom: 50%;
left: 10%;
}

.box-4 {
bottom: 10%;
left: 10%;
}

