body {
  background-image: url(http://www.sonyphotog.com/photos/globalmedicalco/18/85265.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}


h1 {
  padding: 20px;
  margin-bottom: 10px;
  color: rgb(253, 4, 4);
  background: rgb(22, 218, 253);
  border: 3px solid rgb(0, 0, 0);
}

.box-set {
  position: relative;
  height: 400px;
  background: transparent;
  border: 2px solid blue;
}

.box {
  position: fixed;
  width: 150px;
  height: 150px;
  background: violet;
  border: 2px solid black;
}

.box-1 {
width: 150px;
height: 150px;
position: fixed;
}

.box-1-image {
width: 150px;
height: 150px;
}

.box-2 {
top: 20%;
right: 10%;
}

.box-3 {
bottom: 40%;
left: 5px;
}

.box-4 {
bottom: 10%;
left: 10%;
}

